{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["last 2 versions", "ie > 8"]
        }
      }
    ]
  ],
  "plugins": [["@babel/plugin-transform-runtime"]]
}
